@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  border: 0;
  margin: 0;
  overflow: hidden;
  color: #553b30;
  font-family: "Press Start 2P", cursive;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vert-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: none;
}

.container {
  overflow: hidden;
}

.bg {
  background: url("../images/backgrounds/zoomeemama_bg.png") repeat-x;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-size: 130vw;
  height: 150vh;
  width: 5076px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

.left,
.section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-bar {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b98849;
  border-radius: 50px;
  margin: 3vh;
  padding: 1vh 2vw;
  box-shadow: 5px 7px #533c1e8f;
}

.name-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 0.5vw;
}

.status-bar p {
  font-size: 2vh;
}

.right p {
  margin: 0 1vh;
}

.name-container h3 {
  font-size: 3vh;
}

.name-container p {
  margin-top: 1vh;
  font-size: 1.2vh;
  font-style: italic;
}

.pet-icon {
  height: 100px;
  padding: 1vh;
  margin: 0 1.5vh;
  border-radius: 50px;
  background-color: bisque;
}

.pet-walking {
  margin-top: 19vh;
  height: 45vh;
  width: auto;
}

.arrow {
  background-image: url("../images/arrow-sign.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  padding: 4vh 1vw;
  margin-right: 4vw;
  -webkit-filter: drop-shadow(5px 5px 5px #533c1e8f);
  filter: drop-shadow(5px 5px 5px #533c1e8f);
}

.arrow p {
  font-size: 15px;
  line-height: 2vh;
  text-align: left;
  padding-left: 1.5vw;
}

.middle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
