#checkpointButton {
    transform: scale(1.8);
    color: #000000;
}

.people-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.slide-container {
    height: 200px;
}

.slide-container h1 {
    padding: 0 25px 0 25px;
}

.slide-container section {
    text-align: justify;
    padding: 0 25px 25px 25px;
}